node_modules/
dist/
.idea/
euralis_volailles_db
euralis_volailles_test_db
euralis_volailles_db-dev*
euralis_volailles_db-test*
euralis_volailles_db-prod*
build/electron/
docker/lib/
!docker/lib/.gitkeep
app/renderer/app.constants.js
.tmp/
.DS_Store
.vs/
