<form name="productionForm" ng-submit="vm.onSubmit()">
    <div class="modal-header">
        <h3 class="modal-title" ng-if="vm.currentState.indexOf('create') != -1">Création d'une nouvelle production.</h3>
        <h3 class="modal-title" ng-if="vm.currentState.indexOf('edit') != -1">Modification d'une production existante.</h3>
        <h3 class="modal-title" ng-if="vm.currentState.indexOf('remove') != -1">Suppression d'une production.</h3>
    </div>
    <div class="modal-body" ng-if="vm.currentState.indexOf('remove') == -1">
        <div class="row">
            <h2 class="text-center">Production</h2><hr>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="control-label">Appellation</label>
                    <input type="text" class="form-control" id="name" name="name" ng-model="vm.production.name" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="facility" class="control-label">Type de bâtiment</label>
                    <select class="form-control" id="facility" ng-model="vm.production.facility" required
                            ng-options="facility as facility.type.toUpperCase() +' '+facility.size+'m² '+facility.facilityCharges.name for facility in vm.facilities track by facility.id">
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="department" class="control-label">Département</label>
                    <select class="form-control" id="department" ng-model="vm.production.department" required>
                        <option ng-selected="vm.production.department === department.key" ng-repeat="department in vm.departments" value="{{department.key}}">{{department.value}}</option>
                        <option ng-selected="vm.departments.indexOf(vm.production.department) === -1" value="Others">Tous</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="chickNb" class="control-label">Nombre de poussins / bâtiment</label>
                    <input type="number" step="any" class="form-control" id="chickNb" name="chickNb" ng-model="vm.production.chickNb" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="avgWeight" class="control-label">Poids moyen (kg)</label>
                    <input type="number" step="any" class="form-control" id="avgWeight" name="avgWeight" ng-model="vm.production.avgWeight" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="age" class="control-label">Age (j)</label>
                    <input type="number" step="any" class="form-control" id="age" name="age" ng-model="vm.production.age" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="breedingPerYear" class="control-label">Nombre de bandes par an</label>
                    <input type="number" step="any" class="form-control" id="breedingPerYear" name="breedingPerYear" ng-model="vm.production.breedingPerYear" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="consumptionIndex" class="control-label">Indice de consommation</label>
                    <input type="number" step="any" class="form-control" id="consumptionIndex" name="consumptionIndex" ng-model="vm.production.consumptionIndex" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="mortalityPercent" class="control-label">Taux de mortalité (%)</label>
                    <input type="number" step="any" class="form-control" id="mortalityPercent" name="mortalityPercent" ng-model="vm.production.mortalityPercent" min="0" max="20" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="vaccinesPrice" class="control-label">Prix des vaccins (€/1000)</label>
                    <input type="number" step="any" class="form-control" id="vaccinesPrice" name="vaccinesPrice" ng-model="vm.production.vaccinesPrice" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="foodPrice" class="control-label">Prix de l'aliment (€/t)</label>
                    <input type="number" step="any" class="form-control" id="foodPrice" name="foodPrice" ng-model="vm.production.foodPrice" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="classedPrice" class="control-label">Prix du classé (€/1000)</label>
                    <input type="number" step="any" class="form-control" id="classedPrice" name="classedPrice" ng-model="vm.production.classedPrice" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="declassedPrice" class="control-label">Prix du déclassé (€/1000)</label>
                    <input type="number" step="any" class="form-control" id="declassedPrice" name="declassedPrice" ng-model="vm.production.declassedPrice" min="0" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="breedingDeclassedPercent" class="control-label">Taux de déclassé (%)</label>
                    <input type="number" step="any" class="form-control" id="breedingDeclassedPercent" name="breedingDeclassedPercent" ng-model="vm.production.breedingDeclassedPercent" min="0" max="20" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="restraintPercent" class="control-label">Taux de saisie (%)</label>
                    <input type="number" step="any" class="form-control" id="restraintPercent" name="restraintPercent" ng-model="vm.production.restraintPercent" min="0" max="20" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="img in vm.production.images track by img.name" thumb-images="{ file: img, height: 100 }"></div>
        </div>
        <file-uploader model="vm.production.images"></file-uploader>
    </div>
    <div class="modal-body" ng-if="vm.currentState.indexOf('remove') != -1">
        Confirmer la suppression de la production {{production.name}}
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.modalInstance.close()">Annuler</button>
        <button class="btn btn-primary" type="submit" ng-if="vm.currentState.indexOf('create') != -1" ng-disabled="vm.isSaving || productionForm.$invalid">Créer</button>
        <button class="btn btn-success" type="submit" ng-if="vm.currentState.indexOf('edit') != -1" ng-disabled="vm.isSaving || productionForm.$invalid">Modifier</button>
        <button class="btn btn-danger" type="submit" ng-if="vm.currentState.indexOf('remove') != -1" ng-disabled="vm.isSaving || productionForm.$invalid">Supprimer</button>
    </div>
</form>