<div id="mySidenav" class="sidenav">
    <h2 class="text-center" style="color:green">Gestions</h2>

    <h4 class="text-center" style="color:green" ng-if="vm.userService.isAuthenticated()">Bonjour {{vm.userService.getUser()}}</h4>
    <p ng-if="!vm.userService.isAuthenticated()">
        <label for="username">Entrez votre nom</label>
        <input id="username" type="text" ng-model="username" class="form-control"/>
        <button type="button" ng-click="vm.userService.storeCurrentUser(username)">Save</button>
    </p>

    <a ui-sref="production" tooltip-placement="top" uib-tooltip="Productions">
        <img src="{{vm.productionLogo}}" alt="productionLogo">
    </a>
    <a ui-sref="facility" tooltip-placement="top" uib-tooltip="Bâtiments">
        <img src="{{vm.facilityLogo}}" alt="facilityLogo">
    </a>
    <a ui-sref="facility_charges" tooltip-placement="top" uib-tooltip="Grille de critères">
        <img src="{{vm.facilityChargesLogo}}" alt="facilityChargesLogo">
    </a>
    <a ui-sref="investment" tooltip-placement="top" uib-tooltip="Investissements">
        <img src="{{vm.investmentLogo}}" alt="investmentLogo">
    </a>
    <a ui-sref="video" tooltip-placement="top" uib-tooltip="Vidéos" class="text-center">
        <span class="glyphicon glyphicon-facetime-video big" style="color:#a6ce39;"></span>
    </a>

    <hr>
    <button ng-click="vm.openSyncDialog()" class="btn btn-block btn-success">
        <i class="glyphicon glyphicon-refresh big"></i>
    </button>
</div>