.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  border-left: 1px solid rgba(166, 206, 56, 0.33);
}

.sidenav a {
  padding: 8px 8px 8px 10px;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}