<div id="mySidenav" class="sidenav">
    <h2 class="text-center" style="color:green">Gestions</h2><hr>

    <a ui-sref="production" tooltip-placement="top" uib-tooltip="Productions">
        <img src="{{vm.productionLogo}}" alt="productionLogo">
    </a>
    <a ui-sref="facility" tooltip-placement="top" uib-tooltip="Bâtiments">
        <img src="{{vm.facilityLogo}}" alt="facilityLogo">
    </a>
    <a ui-sref="facility_charges" tooltip-placement="top" uib-tooltip="Grille de charges">
        <img src="{{vm.facilityChargesLogo}}" alt="facilityChargesLogo">
    </a>
    <a ui-sref="investment" tooltip-placement="top" uib-tooltip="Investissements">
        <img src="{{vm.investmentLogo}}" alt="investmentLogo">
    </a>

    <!--<hr>-->
    <!--<button ng-click="vm.sync()" class="btn btn-block btn-success" ng-disabled="vm.isSyncing">-->
        <!--<i class="glyphicon glyphicon-refresh big"></i>-->
    <!--</button>-->

    <!--<button ng-if="vm.password != 'eurvolpre'" class="btn btn-default btn-block" ng-click="vm.destroyAsk = true">-->
        <!--<i class="glyphicon glyphicon-trash big"></i>-->
    <!--</button>-->

    <!--<button ng-if="vm.password == 'eurvolpre'" ng-click="vm.destroy()"-->
            <!--tooltip-placement="top" uib-tooltip="Destruction des données" class="btn btn-block btn-danger">-->
        <!--<i class="glyphicon glyphicon-trash big"></i>-->
    <!--</button>-->

    <!--<input ng-if="vm.destroyAsk" type="text" ng-model="vm.password" class="form-control">-->
</div>