<div class="parallax"></div>

<br><br>
<div class="container">
    <uib-tabset active="activeJustified" justified="true" type="pills" class="tab-animation">
        <uib-tab ng-repeat="productions in $ctrl.productions track by $index" index="$index"
                 ng-if="productions.length > 0"
                 heading="{{ productions[0].facility.type.value | uppercase }}">
            <previsionnel-batiment productions="productions"></previsionnel-batiment>
        </uib-tab>
    </uib-tabset>
</div>

<div class="parallax"></div>
