main {
  padding-top: 78px; // due to navbar fixed top
}

svg path.st0 {
  -webkit-transition: stroke 0.5s, stroke-width 0.5s;
  -o-transition: stroke 0.5s, stroke-width 0.5s;
  transition: stroke 0.5s, stroke-width 0.5s;
}
svg path.st0:hover, path.st0.active {
  cursor: pointer;
  stroke-width: 6;
  stroke: #399528;
}

body {
  background-color:white!important;
}

.table-hover>tbody>tr:hover {
  background-color: rgba(48, 159, 65, 0.22)!important;
}

.valid_input {
    border-color: #309f41!important;
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(48, 159, 65, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(48, 159, 65, 0.6) !important;
}

.wrong_input {
  border-color: #ff4d5d !important;
  outline: 0!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 93, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 77, 93, 0.6) !important;
}