<html>
    <head>
        <meta charset="UTF-8">
        <base href="<%= base %>">
        <title><%= title %></title>
        <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
    </head>

    <body ng-app="eurvolpre">
        <app></app>
    </body>
</html>
