<div class="container">
    <h1>
        <i class="glyphicon glyphicon-refresh" style="color:rgba(219, 226, 13, 0.88)"></i>
        <span style="color: #309f41;">Rotation</span>
        <span style="color: #a6ce39;">des productions</span>
    </h1><hr>

    <div class="row text-center">
        <div class="col-md-3">
            <label for="facility_nb" class="control-label">Nombre de bâtiment</label>
            <input class="form-control" type="number" id="facility_nb" name="facility_nb" ng-model="vm.facilityNb" required />
        </div>
        <div class="col-md-3">
            <label for="facility_type" class="control-label">Type de bâtiment</label>
            <select class="form-control" id="facility_type" name="facility_type" ng-model="vm.facilityType" required>
                <option ng-repeat="facilityType in vm.facilityTypes"
                        ng-value="facilityType">{{facilityType.value | uppercase}}</option>
            </select>

        </div>

        <div class="col-md-3 pull-right" ng-if="vm.investmentChoosen" ng-init="showDialog = false" style="padding-top: 4%">
            <div class="input-group" id="input_options">
                <button ng-click="showDialog = !showDialog" class="btn btn-info">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button ng-click="vm.generatePDF(vm.facilityNb, vm.productionsChoosen, vm.investmentChoosen, {interest: vm.investment.interest, duration: vm.investment.annuityDuration})"
                        ng-if="vm.productionsChoosen.length > 0 && vm.investment.interest && vm.investment.annuityDuration"
                        class="btn btn-default">
                    <span class="glyphicon glyphicon-print"></span>
                </button>
            </div>

            <div ng-if="showDialog">
                <div class="form-group">
                    <label for="help_euralis" class="control-label">Aides EURALIS</label>
                    <input class="form-control" type="number" id="help_euralis" name="help_euralis" ng-model="vm.investmentChoosen.helpEuralis" required />
                </div>
                <div class="form-group">
                    <label for="subsidies" class="control-label">Subventions AREA PCAE</label>
                    <input class="form-control" type="number" id="subsidies" name="subsidies" ng-model="vm.investmentChoosen.subsidies" required />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" ng-if="vm.facilityType" style="padding-top: 10px;">
            <ul class="nav nav-pills">
                <li ng-repeat="production in vm.productions | facility: vm.facilityType : vm.facilityNb track by production.id"
                    ng-class="{'active': vm.productionsChoosen.indexOf(production) != -1}">
                    <a href ng-click="vm.addProduction(production)">{{production.name}} ({{production.facility.size}})</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <table class="table" ng-if="vm.productionsChoosen.length > 0">
        <thead>
            <tr>
                <th>Type de production</th>
                <th>Surface bâtiment (m²)</th>
                <th>Surface parcours (ha)</th>
                <th>Densité (m²)</th>
                <th>Nbre / bande</th>
                <th>Nbre de bande / an</th>
                <th>Nbre vendus / an</th>
                <th>Marge brute / sujet vendus (€)</th>
                <th>Marge brute / an (€)</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="production in vm.productionsChoosen track by $index">
                <td>{{production.name}}</td>
                <td>{{production.facility.size * vm.facilityNb}}</td>
                <td>{{production.fieldSpace}}</td>
                <td>{{production.chickNb / production.facility.size | number: 0}}</td>
                <td>{{production.chickNb * vm.facilityNb}}</td>
                <td>1</td>
                <td>{{production.getSoldChicks() | number:2}}</td>
                <td>{{production.getBrutMargin() / production.getSoldChicks() | number:2}}</td>
                <td> {{production.getBrutMargin() | number:2 }}</td>
                <td>
                    <button class="btn btn-danger" type="button" ng-click="vm.removeProduction(production)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="vm.productionsChoosen.length == 3">
                <td colspan="8"></td>
                <td>{{ vm.getTotalProductionsChoosen() | number: 0 }}€</td>
            </tr>
            <tr ng-if="vm.productionsChoosen.length == 3">
                <td colspan="8">
                    <form class="form-inline">
                        <div class="col-md-1"><strong>Annuité</strong></div>
                        <div class="col-md-4">
                            <select class="form-control" id="annuity" ng-model="vm.investmentChoosen" required>
                                <option ng-repeat="investment in vm.getInvestmentsAvailable()" ng-value="investment">{{investment.name | uppercase}}</option>
                            </select>
                            <strong>(AREA et aides EURALIS déduites)</strong>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">/</span>
                                <input class="form-control" ng-model="vm.investment.annuityDuration" type="number" min="0"/>
                                <span class="input-group-addon">ans</span>
                            </div>
                            <strong ng-if="vm.investmentChoosen"> Investissement de {{vm.investmentChoosen.getTotal()|number:0}}€</strong>
                        </div>
                        <div class="col-md-3 input-group">
                            <span class="input-group-addon">à</span>
                            <input class="form-control" ng-model="vm.investment.interest" type="number" min="0"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </form>
                </td>
                <td><strong>{{ vm.investmentChoosen.getAnnuity(vm.investment.annuityDuration, vm.investment.interest) | number:0 }}€</strong></td>
            </tr><strong>
            <tr ng-if="vm.productionsChoosen.length == 3">
                <td colspan="8">
                    <strong class="pull-right">Marge Nette avant MSA</strong>
                </td>
                <td><strong>{{ vm.getNetMarginForChoosenProductions(vm.investmentChoosen.getAnnuity(vm.investment.annuityDuration, vm.investment.interest)) | number:0 }}€</strong></td>
            </tr>
        </tbody>
    </table>
</div>
