
<div class="row">
    <img src="{{vm.banner}}" class="banner" alt="jeanmic">
</div>
<div id="menu" class="row">
    <div class="col-md-3" ng-repeat="item in vm.departments">
        <button class="btn btn-block btn-success btn-raised" ui-sref="presentation({department:item.key})">
            <b>{{item.value | uppercase }}</b>
        </button>
        <br>
    </div>
</div>

<div class="row text-center">
    <h1><i class="glyphicon glyphicon-alert"></i> Présentation vidéo:</h1>
    <div class="col-md-6 col-md-offset-3">
        <video width="100%" controls>
            <source src="{{vm.videoChoosen}}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="col-md-3">
        <ul class="list-unstyled">
            <li ng-repeat="video in vm.videos"><a href ng-click="vm.selectVideo(video)">{{video}}</a></li>
        </ul>
    </div>
</div>