

<img src="{{vm.banner}}" class="banner" alt="jeanmic">

<div id="menu" class="row">
    <div class="col-md-3" ng-repeat="item in vm.departments">
        <button class="btn btn-block btn-success btn-raised" ui-sref="presentation({department:item.key})">
            <b>{{item.value | uppercase }}</b>
        </button>
        <br>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>
            <i class="glyphicon glyphicon-facetime-video" style="color:rgba(219, 226, 13, 0.88)"></i>
            <span style="color: #309f41;">Présentation vidéos</span>
            <span style="color: #a6ce39;">des élevages</span>
        </h1><hr>
        <div class="col-md-9">
            <video width="100%" controls>
                <source src type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="col-md-3 text-center">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="video in vm.videos" ng-class="{'active': vm.videoPlayed == video.id}">
                    <a href ng-click="vm.selectVideo(video)">{{video.name | uppercase}}</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <h1>
            <i class="glyphicon glyphicon-grain" style="color:rgba(219, 226, 13, 0.88)"></i>
            <span style="color: #309f41;">Euralis</span>
            <span style="color: #a6ce39;">vous accompagne</span>
        </h1><hr>
    </div>
</div>