div#menu.row{
  width: 50%;
  float: right;
  margin-top: -15%;
  margin-right: 5%;
}

.btn.btn-raised {
  background-color: #399528!important;
}

.btn.btn-raised:hover {
  background-color: #a6ce39!important;
}

.banner {
  width:100%;
}