<h1 ng-if="$ctrl.investments.length == 1">Investissement</h1>
<h1 ng-if="$ctrl.investments.length > 1">Investissements</h1>
<hr />

<uib-tabset active="$ctrl.active()" justified="true" type="pills">
    <uib-tab index="$index" ng-repeat="investment in $ctrl.investments"
             heading="{{investment.name | uppercase}}" select="$ctrl.selectInvestment(investment)">
        <br /> <br />
        <table class="table table-condensed table-hover table-responsive">
            <tr>
                <th>Description</th>
                <td>{{ $ctrl.investmentChosen.description }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ $ctrl.investmentChosen.designation | uppercase}}</td>
                <td>{{ $ctrl.investmentChosen.details.designation }}</td>
            </tr>
            <tr>
                <th>Permis de construire</th>
                <td>{{ $ctrl.investmentChosen.papers | number: 0}} €</td>
                <td>{{ $ctrl.investmentChosen.details.papers }}</td>
            </tr>
            <tr>
                <th>Coût architecte</th>
                <td>{{ $ctrl.investmentChosen.architectCost | number: 0}} €</td>
                <td>{{ $ctrl.investmentChosen.details.architectCost }}</td>
            </tr>
            <tr>
                <th>Gros oeuvre</th>
                <td>{{ $ctrl.investmentChosen.getMasonry() | number: 0}} €</td>
                <td>{{ $ctrl.investmentChosen.details.masonry }}</td>
            </tr>
            <tr>
                <th>Livraison et montage du batîment</th>
                <td>{{ $ctrl.investmentChosen.getFacilityMountingDeliveryPrice() | number: 0}} €</td>
                <td>{{ $ctrl.investmentChosen.details.facilityMoutingDeliveryPrice }}</td>
            </tr>
            <tr>
                <th>Livraison et montage du matériel</th>
                <td>{{ $ctrl.investmentChosen.getEquipmentMountingDeliveryPrice() | number: 0}} €</td>
                <td>{{ $ctrl.investmentChosen.details.equipmentMountingDeliveryPrice }}</td>
            </tr>
            <tr ng-if="$ctrl.investmentChosen.options.length > 0">
                <th>Diverses options</th>
                <td>
                    <p ng-repeat="options in $ctrl.investmentChosen.options track by $index">
                        <input class="form-check-input" type="checkbox" ng-click="$ctrl.investmentChosen.selectOption($index)">

                        {{options.amount}} €
                    </p>
                </td>
                <td>
                    <p ng-repeat="options in $ctrl.investmentChosen.options">
                        {{options.name}}
                    </p>
                </td>
            </tr>
            <tr>
                <th>Investissement total</th>
                <td>
                    <strong>{{ $ctrl.investmentChosen.getTotalBeforeSubsidies() | number: 0}} € </strong>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Subventions AREA PCAE</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="$ctrl.investmentChosen.subsidies" />
                        <span class="input-group-addon">€</span>
                    </div>
                </td>
                <td>{{ investment.details.subsidies  }}</td>
            </tr>
            <tr>
                <th>Aides EURALIS Volailles</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="$ctrl.investmentChosen.helpEuralis" />
                        <span class="input-group-addon">€</span>
                    </div>
                </td>
                <td>{{ investment.details.helpEuralis  }}</td>
            </tr>
            <tr>
                <th>Apport personnel</th>
                <td>
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="$ctrl.investmentChosen.personalContribution" />
                        <span class="input-group-addon">€</span>
                    </div>
                </td>
                <td>{{ investment.details.personalContribution  }}</td>
            </tr>
            <tr>
                <th>Emprunt bancaire (aides et apport déduits)</th>
                <td>
                    <strong>{{ investment.getTotal() | number: 0 }} €</strong>
                </td>
            </tr>
        </table>
    </uib-tab>
</uib-tabset>
