.parallax {
  height: 20%;
  background: url("../../images/poulet.svg") no-repeat fixed center;
  background-size: cover;
}

.table-header{
  text-transform: uppercase;
  font-size: 15pt;
}

.table-number {
  font-size: 20pt;
  font-weight: bold;
}

.rzslider .rz-bubble {
  color: #309f41;
  font-size: 1em;
}

.rzslider .rz-bar {
  background: #a6ce39;
}

.rzslider .rz-pointer {
  background-color: #309f41;
}

.rzslider .rz-bubble.rz-limit {
  color: rgba(48, 159, 65, 0.32);
}

.rzslider .rz-pointer.rz-active:after {
  background-color: #a8cf3e;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #a8cf3e!important;
}

.nav>li>a {
  color:#309f41;
}

#sliderBatiment {
  margin-top: 2%;
}

.highlight {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: #a8cf3e;
  padding: 20px;
}

.highlighted {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.affix {
  top: 20px;
}

.tab-animation > .tab-content {
  position: relative;
}

/* set animate effect */
.tab-animation > .tab-content > .tab-pane{
  transition: 0.4s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-animation > .tab-content > .tab-pane.active-remove {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
}

/* opacity=0 when removing "active" class */
.tab-animation > .tab-content > .tab-pane.active-remove-active {
  opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-animation > .tab-content > .tab-pane.active-add {
  opacity: 0;
}

.table-hover>tbody>tr.no-hover-invest:hover {
  background-color: white!important;
}