<div class="container">
    <div class="row">
        <h1>
            <i class="glyphicon glyphicon-grain" style="color:rgba(219, 226, 13, 0.88)"></i>
            <span style="color: #309f41;">Gestion des données</span>
            <span style="color: #a6ce39;">des bâtiments</span>
        </h1><hr>

        <div class="pull-right">
            <button class="btn btn-block btn-primary" ui-sref="facility.create">
                <span class="glyphicon glyphicon-plus"></span>
                Créer un nouveau type de bâtiment
            </button>
        </div>
    </div>

    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th class="col-md-2 text-center">Taille</th>
            <th class="col-md-2 text-center">Type</th>
            <th class="col-md-2 text-center">Grille de critères</th>
            <th class="col-md-2 text-center">Investissements</th>
            <th class="col-md-3 text-center">Modifier/Supprimer</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="facility in $ctrl.facilities">
            <td class="col-md-2 text-center">{{ facility.size }}m²</td>
            <td class="col-md-2 text-center">{{ facility.type | uppercase }}</td>
            <td class="col-md-2 text-center">
                <a ui-sref="facility_charges">
                {{ facility.facilityCharges.name | uppercase }}
                </a>
            </td>
            <td class="col-md-2 text-center">
                <ul class="list-unstyled">
                    <li ng-repeat="investment in facility.investments">
                        <a ui-sref="investment">
                            {{ investment.designation | uppercase }}
                        </a>
                    </li>
                </ul>
            </td>
            <td class="col-md-3 text-center">
                <button class="btn btn-success" ui-sref="facility.edit({id: facility.id})"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger" ui-sref="facility.remove({id: facility.id})"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        </tbody>
    </table>

</div>