<div class="modal-header flex">
    <h2>Synchronisation des données</h2>

    <div class="showbox" ng-if="vm.isSyncing">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-xs-4 col-lg-4 right-hr">
            <form class="form" ng-submit="vm.synchronise()">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input id="username"
                           class="form-control"
                           type="text"
                           ng-disabled="vm.isSyncing"
                           ng-model="vm.username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password"
                           class="form-control"
                           type="password"
                           ng-disabled="vm.isSyncing"
                           ng-model="vm.password" />
                </div>

                <button ng-click="vm.close()" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Annuler
                </button>

                <button type="submit" ng-disabled="vm.isSyncButtonDisabled()" class="btn btn-success" ng-disabled="vm.isSyncing">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Synchroniser
                </button>
            </form>
        </div>
        <div class="col-md-8 col-xs-8 col-lg-8">
            <pre style="margin-left:10px;">
                <p ng-repeat="log in vm.logs track by $index">{{log}}</p>
            </pre>
        </div>
    </div>
</div>
