<div class="container">
    <div class="row">
        <h1>
            <i class="glyphicon glyphicon-grain" style="color:rgba(219, 226, 13, 0.88)"></i>
            <span style="color: #309f41;">Gestion des données</span>
            <span style="color: #a6ce39;">de productions</span>
        </h1><hr>
        <div class="pull-right">
            <button class="btn btn-block btn-success" ui-sref="management.createFacilityCharges">
                <span class="glyphicon glyphicon-plus"></span>
                Créer une nouvelle grille de Charges Bâtiment
            </button>

            <button class="btn btn-block btn-info" ui-sref="management.createFacility">
                <span class="glyphicon glyphicon-plus"></span>
                Créer un nouveau type de bâtiment
            </button>

            <button class="btn btn-block btn-primary" ui-sref="management.create">
                <span class="glyphicon glyphicon-plus"></span>
                Créer un nouveau type de production
            </button>
        </div>
    </div>

</div>